#contenedorTabla{
    width: 100%; /* Ancho del div */
      height: 88vh; /* Altura del div */
      overflow-y: scroll; /* Añadir scroll vertical */
      padding: 10px; /* Añadir relleno para separar el contenido del borde */
}