<div id="contenedor_formulario">
  <h2 appTitulos >Agregar nueva persona</h2>
  <form [formGroup]="formularioAlumno" (ngSubmit)="guardarAlumno()" id="formulario">
    <div class="row">
      <div class="col-6 columna">
        <mat-form-field class="form" appearance="outline">
          <mat-label>Nombre</mat-label>
          <input type="text" matInput placeholder="Placeholder" formControlName="nombre">
          <samp appFormsValidaciones
                [pasarErrores]="formularioAlumno.get('nombre')?.errors"
              >El nombre es obligatorio</samp>
        </mat-form-field>
      </div>
      <div class="col-6 columna">
        <mat-form-field class="form" appearance="outline">
          <mat-label>Apellido</mat-label>
          <input 
              type="text"
                matInput placeholder="Placeholder"
                formControlName="apellido">
                <samp appFormsValidaciones
                [pasarErrores]="formularioAlumno.get('apellido')?.errors"
              >El nombre es obligatorio</samp>
        </mat-form-field>
      </div>
    </div>

    <div class="row">
      <div class="col-6 columna">
          <mat-form-field  class="form" appearance="outline">
            <mat-label>Edad</mat-label>
            <input 
                  type="number"
                  matInput placeholder="Placeholder"
                  formControlName="edad"
                >
                <samp appFormsValidaciones
                [pasarErrores]="formularioAlumno.get('edad')?.errors"
              >El nombre es obligatorio</samp>
          </mat-form-field>
      </div>
      <div class="col-6 columna">
        <mat-form-field  class="form" appearance="outline">
          <mat-label>Nombre de usuario</mat-label>
          <input 
                type="text"
                matInput placeholder="Placeholder"
                formControlName="nombreUsuario"
              >
              <samp appFormsValidaciones
              [pasarErrores]="formularioAlumno.get('nombreUsuario')?.errors"
            >Compo obligatorio</samp>
        </mat-form-field>
    </div>
    </div>

    <div class="row">
      <div class="col-6 columna">
        <mat-form-field class="form" appearance="outline">
          <mat-label>Contraseña</mat-label>
          <input 
                type="text"
                 matInput placeholder="Placeholder"              
                 formControlName="password">
                 <samp appFormsValidaciones
                [pasarErrores]="formularioAlumno.get('nota')?.errors"
              >El nombre es obligatorio</samp>
        </mat-form-field>
      </div>

      <div class="col-6 columna">
        <mat-form-field>
          <mat-label>Tipo</mat-label>
          <select formControlName="tipo" matNativeControl required (ngModelChange)="seleccionarCurso()">
            <option  value="ADMIN">ADMIN</option>
            <option  value="ALUMNO">ALUMNO</option>
          </select>          
          <samp appFormsValidaciones
                [pasarErrores]="formularioAlumno.get('tipo')?.errors"
              >El nombre es obligatorio</samp>
        </mat-form-field>
      </div>

    </div>


    <div class="row">
      <button mat-raised-button type="submit" color="primary">Guardar</button>
    </div>
  </form>
</div>
